/* Textos sem pontuação chamam tags diretamente */

p {

color:steelblue;
font-size: 25px;

}

/* Textos começando com "." chamam CLASSES */

.textoPrincipal{

color:chocolate;
font-size: 32px;

}

/* Textos começando com "#" chamam IDs 
id's são específicos para um elemento, somente */

#textoExclusivo{

    background-color: yellow;
    color:rgb(138, 43, 226);
    font-size: 45px;

}

body{

    background-color: darkblue;

}